:root {
    --black: #000000;
    --neutral: #404040;
    --white: #ffffff;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-500: #71717a;
    --zinc-800: #27272a;
    --error: #ef4444;
}

* {
    font-family: "Sora", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

section {
    padding: 50px 0;
}

section > div {
    background-color: antiquewhite;
}


/* Hero Section */

#hero-section {

}

#hero-section h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
}

b {
    font-weight: 800 !important;
}

#hero-section h1 b span {
    
}

#hero-section p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--zinc-500);
}

#hero-section ul {
    gap: 20px;
    display: flex;
    list-style: none;
    padding-left: 0 !important;
}

#hero-section ul li a {
    font-size: 30px;
    padding: 10px 15px;
    border: 2px solid var(--black);
    border-radius: 4px;
    color: var(--black);
    text-decoration: none;
    transition: all ease 0.3s;
}

#hero-section ul li a:hover {
    background-color: var(--black);
    color: var(--white);
}


/* About Section */

#about-section {

}


/* Skills Section */

#skills-section {

}


/* Projects Section */

#projects-section {

}


/* Work History Section */

#work-history-section {

}


/* Certifications Section */

#certifications-section {

}


/* Contact Section */

#contact-section {

}



/* Media Query */

/* Extra large devices (large laptops and desktops, 1200px to 1366px) */

@media screen and (max-width: 1366px) {
    
}


/* Large devices (laptops/desktops, 992px to 1200px) */

@media screen and (max-width: 1200px) {
    
}


/* Medium devices (landscape tablets, 768px to 992px) */

@media screen and (max-width: 992px) {
    
}


/* Small devices (portrait tablets and large phones, 600px to 768px) */

@media screen and (max-width: 768px) {
    #hero-section > .container > .row {
        flex-direction: column-reverse;
    }
}


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    #hero-section > .container > .row {
        flex-direction: column-reverse;
    }
}